@font-face {
	font-family: 'Reddit Mono';
	src: url('/fonts/RedditMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('/fonts/Roboto-Condensed-Regular') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk-Bold.ttf') format('true');
	font-weight: 700;
	font-style: normal;
}

:root {
	--san-serif: 'Roboto Condensed', sans-serif;
	--title-text: 'Space Grotesk', sans-serif;
	--mono: 'Reddit Mono', monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--san-serif);
}

h1 {
	font-family: var(--title-text);
}
